@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .text-grey {
    @apply text-[#3A3A3E];
  }

  .bg-pink {
    @apply bg-[#F9F3F1];
  }

  .bg-grey {
    @apply bg-[#3A3A3E];
  }

  .text-brown {
    @apply text-[#984B2C];
  }

  .bg-brown {
    @apply bg-[#984B2C];
  }

  .bg-sand {
    @apply bg-[#E8E1D8];
  }

  .max-width {
    @apply max-w-[1200px] m-auto;
  }

  .nav-icons-animation {
    @apply flex justify-center items-center hover:scale-110 transform transition duration-200 ease-in-out;
  }

  .button-animation {
    @apply flex justify-center items-center hover:scale-105 hover:bg-[#353539] transform transition duration-200 ease-in-out;
  }

  .button-empty-animation {
    @apply flex justify-center items-center hover:scale-105  transform transition duration-200 ease-in-out;
  }

  .grey-button {
    @apply active:scale-75 transition-transform bg-grey text-white p-4 cursor-pointer uppercase px-10 rounded button-animation;
  }
  .footer-links {
    @apply hover:text-gray-400 transition duration-200 ease-in-out uppercase text-sm;
  }

  .panel {
    @apply relative bg-grey rounded-xl text-white mb-3 last:mb-0;
  }

  .panel__label {
    @apply relative block w-full bg-transparent border-none text-left px-6 py-6 font-medium text-lg cursor-pointer transition-colors duration-200 ease-linear focus:outline-none;
  }

  .icon {
    @apply absolute right-6 top-1/2 transform -translate-y-1/2 w-6 h-6 flex items-center justify-center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .icon::before,
  .icon::after {
    content: "";
    @apply block bg-white absolute;
  }

  .icon::before {
    @apply w-3 h-0.5;
    transition: transform 0.3s ease;
  }

  .icon::after {
    @apply w-0.5 h-3;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .single-box {
    @apply border-r-2 flex px-4 flex-col md:h-[280px] justify-center;
  }
}

.icon.closed::before {
  transform: rotate(0deg);
}

.icon.closed::after {
  transform: rotate(0deg);
  opacity: 1;
}

.icon.open::before {
  transform: rotate(0deg);
}

.icon.open::after {
  transform: rotate(90deg);
  opacity: 0;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouncing-dice {
  font-size: 100px;
  color: #fff;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.close-menu {
  top: 82px;
  right: 20px;
}

.menu li {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 640px) {
  .menu {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #3a3a3e;
    color: #fff;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
  }

  .menu.open {
    right: 0;
    padding-left: 30px;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu .small-screen-btn {
    border: 0.5px solid white;
    font-size: 14px;
    text-transform: uppercase;
  }

  /* .menu li a {
    padding: 10px;
  } */

  .close-menu,
  .open-menu {
    display: block;
  }
}

button[disabled] {
  color: #ccc;
}

#custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: #ff66b2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #ff66b2;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #ff3399;
}

#custom-dropdown:hover .dropdown-content {
  display: block;
}

.box {
  position: relative; /* To position the ::before element inside */
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --mask: radial-gradient(147.84px at 50% 206.8px, #000 99%, #0000 101%)
      calc(50% - 176px) 0/352px 100%,
    radial-gradient(147.84px at 50% -118.8px, #0000 99%, #000 101%) 50% 88px/352px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background-color: #3a3a3e; /* Red background with waves */
  z-index: -1; /* Ensure the background stays behind the text */
}

.box div {
  position: relative; /* To ensure the text is on top of the background */
  z-index: 1; /* Ensures the text is above the background */
}

/* Text fades in after a slight delay relative to the image */
.slide-fade-in-text {
  opacity: 0;
  transform: translateY(-50px); /* Start above */
  animation: slideFadeInText 1.5s ease forwards 0.8s,
    slideFadeOutText 0.5s ease forwards 6.5s; /* Delayed fade-in after image */
}

@keyframes slideFadeInText {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeOutText {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Moves up slightly while disappearing */
  }
}

/* Link fades in slightly after text */
.slide-fade-in-link {
  opacity: 0;
  transform: translateY(-50px); /* Start above */
  animation: slideFadeInLink 1.5s ease forwards 1.2s,
    slideFadeOutLink 0.5s ease forwards 6.5s; /* Delayed fade-in after text */
}

@keyframes slideFadeInLink {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade out for both text and link */
@keyframes slideFadeOutText {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Moves up slightly while disappearing */
  }
}

@keyframes slideFadeOutLink {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Moves up slightly while disappearing */
  }
}

/* Style for the dots to ensure visibility */
.slick-dots li button:before {
  color: white !important;
  font-size: 14px !important;
  opacity: 0.75 !important;
}

.slick-dots {
  bottom: 20px !important; /* Adjust position of dots */
}

.slick-dots li.slick-active button:before {
  color: #f9f9f9 !important; /* Change the color of the active dot */
  opacity: 1 !important; /* Make the active dot fully opaque */
}

@keyframes dots {
  0%,
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot-1 {
  animation: dots 1.4s infinite steps(1) 0.2s;
}

.dot-2 {
  animation: dots 1.4s infinite steps(1) 0.4s;
}

.dot-3 {
  animation: dots 1.4s infinite steps(1) 0.6s;
}
